@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

span {
  color: red;
}
/* 
:root {
  --primary-brand-color: #7e8734;
} */

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
