.collections-shoes {
  width: 80%;
  height: 600px;
  padding: 100px 40px;
  display: flex;
  margin: 0 auto;
  gap: 50px;
}

.collections-shoes__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.collections-shoes__item {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  gap: 15px;
  text-align: left;
}

.collections-shoes__img {
  width: 100%;
}

.collections-shoes__heading {
  font-weight: 400;
  font-size: 17px;
  color: #717474;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

.collections-shoes__text {
  color: #f40106;
  font-weight: 700;
  font-size: 22px;
}

.collections-shoes__btn {
  transition: all ease-out 0.4s;
  width: 125px;
  min-height: 50px;
  background-color: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.collections-shoes__btn:hover {
  background-color: #f40106;
}

.collections-shoes__btn-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.collections-shoes__img:hover {
  opacity: 0.8;
}
