<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <title>Sport clothes store</title>
  </head>
  <body>
    <nav
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"
    ></nav>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.hero-banner.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.categories.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.features.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.about-us.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.trending.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.sale-products.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.discount.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.discount-offers.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.collections.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.limited-offer.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.new-arrivals.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.orig-brands.partial.html"
    ></section>

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.carousel.partial.html"
    ></div>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.blog.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.newsletter.partial.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.contacts.partial.html"
    ></section>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script src="js/index.js" defer></script>
  </body>
</html>
